artifacttemplates/http%3A%2F%2Fopentosca.org%2Fartifacttemplates/Java_Shop_Application_DA/source/src/main/webapp/wsdl/org_opentosca_nodetypes_Java_Shop_Application__org_opentosca_interfaces_database.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="org_opentosca_nodetypes_Java_Shop_Application__org_opentosca_interfaces_databaseService" targetNamespace="http://nodetypeimplementations.opentosca.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://nodetypeimplementations.opentosca.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://nodetypeimplementations.opentosca.org/" elementFormDefault="unqualified" targetNamespace="http://nodetypeimplementations.opentosca.org/" version="1.0">
<xs:element name="connectTo" type="tns:connectTo"/>
<xs:complexType name="connectTo">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="VMIP" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="DBMSPort" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="DBName" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="DBUser" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="DBPassword" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="connectTo">
    <wsdl:part name="parameters" element="tns:connectTo">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="org_opentosca_nodetypes_Java_Shop_Application__org_opentosca_interfaces_database">
    <wsdl:operation name="connectTo">
      <wsdl:input name="connectTo" message="tns:connectTo">
    </wsdl:input>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="org_opentosca_nodetypes_Java_Shop_Application__org_opentosca_interfaces_databaseServiceSoapBinding" type="tns:org_opentosca_nodetypes_Java_Shop_Application__org_opentosca_interfaces_database">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="connectTo">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="connectTo">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="org_opentosca_nodetypes_Java_Shop_Application__org_opentosca_interfaces_databaseService">
    <wsdl:port name="org_opentosca_nodetypes_Java_Shop_Application__org_opentosca_interfaces_databasePort" binding="tns:org_opentosca_nodetypes_Java_Shop_Application__org_opentosca_interfaces_databaseServiceSoapBinding">
      <soap:address location="http://localhost:9090/org_opentosca_nodetypes_Java_Shop_Application__org_opentosca_interfaces_databasePort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
