artifacttemplates/http%3A%2F%2Fopentosca.org%2Fartifacttemplates/SQS-Container-IA/source/src/main/webapp/wsdl/org_opentosca_nodetypes_SimpleQueueService__org_opentosca_interfaces_pattern_container.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="org_opentosca_nodetypes_SimpleQueueService__org_opentosca_interfaces_pattern_containerService" targetNamespace="http://nodetypeimplementations.opentosca.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://nodetypeimplementations.opentosca.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://nodetypeimplementations.opentosca.org/" elementFormDefault="unqualified" targetNamespace="http://nodetypeimplementations.opentosca.org/" version="1.0">
<xs:element name="create" type="tns:create"/>
<xs:element name="defrost" type="tns:defrost"/>
<xs:element name="freeze" type="tns:freeze"/>
<xs:element name="terminate" type="tns:terminate"/>
<xs:element name="testProperties" type="tns:testProperties"/>
<xs:complexType name="create">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="AWSAccessKey" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="AWSSecretKey" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="AWSRegion" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="FifoQueue" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="defrost">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="AWSAccessKey" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="AWSSecretKey" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="AWSRegion" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="FifoQueue" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="freeze">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="AWSAccessKey" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="AWSSecretKey" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="AWSRegion" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="QueueUrl" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="StoreStateServiceEndpoint" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="terminate">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="AWSAccessKey" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="AWSSecretKey" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="AWSRegion" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="QueueUrl" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="testProperties">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="AWSAccessKey" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="AWSSecretKey" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="AWSRegion" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="FifoQueue" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="QueueUrl" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="QueueName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="freeze">
    <wsdl:part name="parameters" element="tns:freeze">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="create">
    <wsdl:part name="parameters" element="tns:create">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="defrost">
    <wsdl:part name="parameters" element="tns:defrost">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="terminate">
    <wsdl:part name="parameters" element="tns:terminate">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="testProperties">
    <wsdl:part name="parameters" element="tns:testProperties">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="org_opentosca_nodetypes_SimpleQueueService__org_opentosca_interfaces_pattern_container">
    <wsdl:operation name="create">
      <wsdl:input name="create" message="tns:create">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="defrost">
      <wsdl:input name="defrost" message="tns:defrost">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="freeze">
      <wsdl:input name="freeze" message="tns:freeze">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="terminate">
      <wsdl:input name="terminate" message="tns:terminate">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="testProperties">
      <wsdl:input name="testProperties" message="tns:testProperties">
    </wsdl:input>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="org_opentosca_nodetypes_SimpleQueueService__org_opentosca_interfaces_pattern_containerServiceSoapBinding" type="tns:org_opentosca_nodetypes_SimpleQueueService__org_opentosca_interfaces_pattern_container">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="create">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="create">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="defrost">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="defrost">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="freeze">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="freeze">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="terminate">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="terminate">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="testProperties">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="testProperties">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="org_opentosca_nodetypes_SimpleQueueService__org_opentosca_interfaces_pattern_containerService">
    <wsdl:port name="org_opentosca_nodetypes_SimpleQueueService__org_opentosca_interfaces_pattern_containerPort" binding="tns:org_opentosca_nodetypes_SimpleQueueService__org_opentosca_interfaces_pattern_containerServiceSoapBinding">
      <soap:address location="http://localhost:9090/org_opentosca_nodetypes_SimpleQueueService__org_opentosca_interfaces_pattern_containerPort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
